*{
    box-sizing: border-box;
    margin: 0;
    padding : 0;
}
.wrapper {
    margin: 0 auto;
    /* border: 1px solid black; */
    width: 660px;
}
.fullcontainer {
    width: 660px;
}
.header {
    display: grid;
    grid-template-columns: 30% auto;
    height: 40px;
    /* border: 1px solid black; */
}
.logo {
    background-image: url("../images/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    /* border: 1px solid black; */
}
.menu {
    padding-top: 15px;
    padding-right: 80px;
    /* border: 1px solid black; */
    font-size: 0.6em;
}
ul {
    display: flex;
    justify-content: flex-end; /*các phần tử con sẽ bị đẩy sang bên phải */
    gap: 15px;
    list-style: none; /*bỏ dấu chấm trước ul*/
}
.banner {
    height: 245px;
    background-image: url("../images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.product {
    height: 370px;
    padding: 10px 60px 30px 60px;
    font-family: Arial, Helvetica, sans-serif;
   
}
.contain1 {
    height: 120px;
    display: grid;
    grid-template-columns: 135px 135px 135px auto;
    /* border: 1px solid black; */
}
.cp {
    font-size: 15px;
    text-align: center;
    margin-top: 90px;
    font-weight: bold;
}
.col1 {
    background-image: url("images/van-phong.png");
}
.col2 {
    background-image: url("images/biet-thu.png");
}
.col3 {
    background-image: url("images/can-ho.png");
}
.col4 {
    background-image: url("images/nha-pho.png");
}
.col1 , .col2 , .col3 , .col4 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 1px solid black; */
}
.contain2 {
    height: 50px;
    padding-top: 15px ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.contain3 {
    position: relative; /*cha*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*3 cot bang nhau
    grid-template-columns: repeat(3, 1fr);*/
    height: 180px;
}
.con1 {
   
    background-image: url("../images/nha-may.jpg");
}
.con2 {
 
    background-image: url("../images/showroom.jpg");
}
.con3 {
   
    background-image: url("../images/gioi-thieu.jpg");
}
.con1 , .con2 , .con3 {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.contain3 p {
    color: white;
    margin-top: 150px;
    text-align: center;
}
.con1 p, .con2 p, .con3 p{
    position: absolute;
    text-align: center;
    z-index: 2;
    left: 45px;
}
.contain3 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* lớp phủ màu đen nhạt */
    z-index: 1;
}
.footer {
    margin-top: 25px;
    height: 100px;
    background-color: yellow ;
    padding: 20px 50px 20px 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.ft1 ul, .ft2 ul {
    display: flex;
    flex-direction: column; 
    font-size: 0.57em;
    row-gap: 1px;
}
.ft3 {
    font-size: 0.57em;
}
